# About this project

## What project is about?

- Simple calendar application (Monday to Friday, weekly-view only)
- Front-end and back-end applications plus CI/CD pipeline
- (if time allows) Mobile app using ReactNative and Webview (FYI. I've never used ReactNative)
  - Local environment deployment would be sufficient

## Reason for creating the project

- The company I applied uses the stack below, and I want to try making the full eco system just to see through and to get more items to talk about

## Tech stack

- language: TypeScript

### Front-end

- web: React
- mobile: ReactNative (use webview?)
  so the web app should be have responsive design

### Back-end

    - Nest.js

### Database (AWS-heavy)

- PostgreSQL (RDS I think?)
- DynamoDB
- AWS SAM
- Serverless Framework
  I assume that the Serverless Framework + AWS SAM + DynamoDB is used for the calendar event management.

## App Features

You can give advice about everything below, because this is not 100% sure.

- Sign In with Google OAuth2.
- User has `email`, `name`, `profile_image`(from Google) save in PostgreSQL
- App has two main features, the `Schedule` items on calendar view like Google Calendar, and the `Note` items like the Notion you can attach to the schedule and edit concurrently with other users.
- Calendar will only have weekly views for now but we must consider daily views as well while architecturing the project
- Calendar view will be able to move week by week starting from Monday to Friday
- Calendar view is important in case of the responsiveness
- Calendar items(=schedules):
  - has tags, title, description, start time, end time, location, meeting link, related note(many-to-many)
  - the full data will be saved in PostgreSQL
- Note (saved in PostgreSQL)
  - (IMPORTANT) Note feature which must be editable concurrently with other users
    - how to achieve this?
  - Notes must be in a separate table
- (IDEA) Schedule's title, time and order will be save in DynamoDB so that users can updated fast when they drag and drop schedules(you can give me better options if applicable)
- We have `Inbox` feature which has list of `schedule`'s fields but without start time and end time
- (IMPORTANT) The `Inbox` items will be places in the left sidebar and user can drag and drop them to the calendar (duration is default to 30mins)
  - I'm not sure how should I resolve the relationship between `Inbox` item's duration and `Calendar` item's start time and end time yet.

## Additional instructions that are came up while creating the project

- Add comments to the yml files in detail because I'm not familiar with the AWS SAM not AWS CloudFormation including the DynamoDB, RDS, etc.
